<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Navigation -->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
        <!--<div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="navbar-header">-->
            <!--    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
            <!--        <span class="sr-only">Toggle navigation</span>-->
            <!--        <span class="icon-bar"></span>-->
            <!--        <span class="icon-bar"></span>-->
            <!--        <span class="icon-bar"></span>-->
            <!--    </button>-->
            <!--    <a class="navbar-brand" href="#">Start Bootstrap</a>-->
            <!--</div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--    <ul class="nav navbar-nav">-->
            <!--        <li>-->
            <!--            <a href="#">About</a>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <a href="#">Services</a>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <a href="#">Contact</a>-->
            <!--        </li>-->
            <!--    </ul>-->
            <!--</div>-->
            <!-- /.navbar-collapse -->
        <!--</div>-->
        <!-- /.container -->
    <!--</nav>-->

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <div align="center"><h1 class="page-header"><font color="#cbb">Gallery</font></h1></div>
                <!--<a href "home/upload1">사진 업로드</a>-->
                 </div><a href="/#three"><font color="#2583d4"><div align="center"> <button type="button" class="btn btn-warning">back to home</button></div></font></a>
               <div class="container">
                    <form style="margin-top:40px;" action="/home/upload2" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                            <div class="col-lg-3 col-md-4 col-xs-6"></div>
                            <div class="col-lg-3 col-md-4 col-xs-6">
                                <label for="exampleInputEmail1"><font color="#cbb">Title</font></label>
                                <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="이미지 이름">
                            </div>
                      </div>
                            <div class="col-lg-3 col-md-4 col-xs-6">
                              <input type="file" name="pic" accept="image/*">
                              <br>
                              <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                             <div class="col-lg-3 col-md-4 col-xs-6"></div>
                    </form>
               </div>

<br>
<br> 
       <!--<div class="well">-->
           <% @picture2s.each do |p| %>
           <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                       <% unless p.image_url.nil? %>
                              <img class="img-responsive" src="<%= p.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')" " />
                         <% end %>
                </a>
              <font color="#614f4f">
                 <div align="center"><span style="font-weight:bold;"> <%= p.title %> </span>
                       <a href="/destroy2/<%=p.id%>">[삭제]</div></a>  <%=p.id%>
             </font>
            </div>

       <% end %>
       <br>






            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">-->
            <!--    <a class="thumbnail" href="#">-->
            <!--        <img class="img-responsive" src="http://placehold.it/400x300" alt="">-->
            <!--    </a>-->
            <!--</div>-->
        <!--</div>-->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2016 Yi Jung Yeoul All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>
<style>
    body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: white;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}
    
</style>


<script language="javascript" type="text/javascript">
function doImgPop(img){ 
 img1= new Image(); 
 img1.src=(img); 
 imgControll(img); 
} 
  
function imgControll(img){ 
 if((img1.width!=0)&&(img1.height!=0)){ 
    viewImage(img); 
  } 
  else{ 
     controller="imgControll('"+img+"')"; 
     intervalID=setTimeout(controller,20); 
  } 
}
function viewImage(img){ 
 W=img1.width*(0.7); 
 H=img1.height*(0.7); 
 O="width="+W+",height="+H+",scrollbars=yes"; 
 imgWin=window.open("","",O); 
 imgWin.document.write("<html><head><title>:크게봐</title></head>");
 imgWin.document.write("<body topmargin=0 leftmargin=0>");
 <!--imgWin.document.write("<img src="+img+" onclick='self.close()' style='cursor:pointer;max-width: 70%; max-height: 70%;' title ='클릭하시면 창이 닫힙니다.'>");-->
 imgWin.document.write("<img src="+img+" onclick='self.close()' style='cursor:pointer;max-width: 100%; max-height: 100%;' title ='클릭하시면 창이 닫힙니다.'>");
 imgWin.document.close();
}

</script>


</html>
