<!DOCTYPE html>
<html>
    
  <head>
    <meta charset="utf-8">
    <title>Landing Zero Free Bootstrap Theme with Video</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    
  </head>
  
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> INHA University</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">video</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/talk_list">Bulletin board</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Panflute, 인다배소리</h1>
                <h4>Great art is an instant arrested in eternity</h4>
                <hr>
                <a href="#video-background" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Toggle Video</a> &nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            </div>
        </div>
        <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </header>
    <section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                     <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                    <h2 class="margin-top-0 text-primary">Panflute?</h2>
                    <!--<br>-->
                    <p class="text-faded">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center" align="center">
                                <img src="http://ytimg.googleusercontent.com/vi/-gYvZE2jXZ0/0.jpg"  align="middle" class="img-responsive" alt="Image 1">
                            </div>
                        </div>
                       
                    <br>
  “팬파이프, 또는 판의 피리, 또는 팬플루트(영어: panpipe, panflute)는 그리스어로<br>
  시링가(그리스어: Σύριγγα)라고 하는 관악기로, 고대 그리스에서 기원하여 유럽 각국으로 전파되었다.<br>
  음높이가 다른 여러 대의 세로피리(縱笛)인 플루트를 보통 평평하게 늘어놓은 것으로<br>
  파이프 오르간의 가장 오랜 조상으로 되어 있다. <br>
  입으로 부는반대쪽의 관들의 끝지점들은 밑을 2로 하는 로그함수의 그래프를 이룬다.”
                    </p>
                    <!--<a href="home/three1" class="btn btn-default btn-xl page-scroll">Learn More</a>-->
                </div>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                     <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                    <h2 class="margin-top-0 text-primary">Panflute Recital</h2>
                    <hr class="primary">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/zg2kMHo12vk" frameborder="0" allowfullscreen align="center"></iframe><!--홍영-->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Zl2B3aZUak4" frameborder="0" allowfullscreen align="center"></iframe><!--민수-->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/V4DZndM4AbI" frameborder="0" allowfullscreen align="center"></iframe><!--민수-->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/b_92AeS-fcg" frameborder="0" allowfullscreen align="center"></iframe><!--은진-->
                    
                    
                </div>
            </div>
        </div>
        
    </section>
    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                    <div align="center">
                        <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                        <h2 class="margin-top-0 text-primary">Gallery</h2>
                    </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="home/galleryModal1" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1430916273432-273c2db881a0%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3Df047e8284d2fdc1df0fd57a5d294614d">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/14100340_648372561996374_384096627046046751_n.jpg?oh=f7cd0e3c5bd33941f76b1e4b011ca4f2&oe=5858ED81" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <!--<i class="icon-lg ion-ios-search"></i>-->
                                     <p>2016년 1학기</p>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="home/galleryModal2" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/getrefe/regular/tumblr_nqune4OGHl1slhhf0o1_1280.jpg">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12241558_1106456082720652_7011993286692906968_n.jpg?oh=caee9675f1ccc43bf3afa7895ec4633d&oe=583D46CB" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <!--<i class="icon-lg ion-ios-search"></i>-->
                                     <p>2015년 2학기</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="home/galleryModal3" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/unsplash/regular/photo-1433959352364-9314c5b6eb0b%3Fq%3D75%26fm%3Djpg%26w%3D1080%26fit%3Dmax%26s%3D3b9bc6caa190332e91472b6828a120a4">
                        <img src="img/2015-1.JPG" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <!--<i class="icon-lg ion-ios-search"></i>-->
                                     <p>2015년 1학기</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="home/galleryModal4" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-moto-drawing-illusion-nabeel-1440x960.jpg">
                        <img src="img/2014-2.JPG" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <!--<i class="icon-lg ion-ios-search"></i>-->
                                      <p>2014년 2학기</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
    <!--            <div class="col-lg-4 col-sm-6">-->
    <!--                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-new-york-crosswalk-nabeel-1440x960.jpg">-->
    <!--                    <img src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-new-york-crosswalk-nabeel-1440x960.jpg" class="img-responsive" alt="Image 5">-->
    <!--                    <div class="gallery-box-caption">-->
    <!--                        <div class="gallery-box-content">-->
    <!--                            <div>-->
    <!--                                <i class="icon-lg ion-ios-search"></i>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </a>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-sm-6">-->
    <!--                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-clothes-exotic-travel-nabeel-1440x960.jpg">-->
    <!--                    <img src="//splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-clothes-exotic-travel-nabeel-1440x960.jpg" class="img-responsive" alt="Image 6">-->
    <!--                    <div class="gallery-box-caption">-->
    <!--                        <div class="gallery-box-content">-->
    <!--                            <div>-->
    <!--                                <i class="icon-lg ion-ios-search"></i>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </a>-->
    <!--            </div>-->
            </div>
        </div>
    </section>
    <!--<section class="container-fluid" id="four">-->
    <!--    <div class="row">-->
    <!--        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">-->
    <!--                    <div align="center">-->
    <!--                    <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>-->
    <!--                    <h2 class="margin-top-0 text-primary">Bulletin board</h2>-->
    <!--                </div>-->
                    
    <!--                <div align="right">-->
    <!--                <h4><a href="home/write"><font color=#d3d3d3>글쓰기</font></a></h4>-->
    <!--                <h4><a href="home/list"><font color=#d3d3d3>전체글</font></a></h4>-->
    <!--                </div>-->
                   
    <!--                 <font color=#d3d3d3>-->
    <!--                     <table class="table" style="width:100%">-->
                         <!--<table class="type11">-->
    <!--                        <thead>-->
    <!--                        <tr><p>-->
    <!--                            <th scope="cols">제목</th>-->
    <!--                            <th scope="cols">작성자</th>-->
    <!--                            <th scope="cols">시간</th>-->
    <!--                        </tr></p>-->
    <!--                        </thead>-->
    <!--                        <tbody>-->
    <!--                               <%@every_post.each do |p|%>-->
    <!--                        <tr>-->
    <!--                <p class="sansserif">-->
    <!--                            <td><a href="/seee/<%=p.id%>"><font color=#d3d3d3><%= p.title%></font></a></td>-->
    <!--                            <td><%= p.name1%></td>-->
    <!--                            <td><%= (p.created_at+32400) %></td></p>-->
                                <!--<%="(p.created_at+32400)".chop.chop.chop %>-->
    <!--                        </tr>-->
    <!--                          <%end%>-->
    <br>
      <div align="center">
        <a href="/talk_list" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-list-alt"> Bulletin board</span>
        </a>
      </div>
     
 
    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>요청사항을 남겨주시면 답변을 드리겠습니다.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form action="/write_end2" method="post">
                        
                    <!--<form class="contact-form row" action="/write_email" method="post">-->
                        <div class="col-md-4">
                            <label></label>
                            <input name="name" type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input name="email" type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input name="phone" type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea name="content1" class="form-control" rows="9" placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <!--<button type="submit" data-toggle="modal" class="btn btn-default">Send <i class="ion-android-arrow-forward"></i></button>-->
                            <!--<button type="submit" data-toggle="modal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>-->
                        <!--<button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>-->
                              <p1><button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button></p1>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </section>
         
    
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 column">
                    <h4>Page Link</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://shopping.naver.com/search/all.nhn?query=%ED%8C%AC%ED%94%8C%EB%A3%BB&frm=NVSCPRO">Products</a></li>
                        <li><a href="http://cafe306.daum.net/_c21_/home?grpid=4Yp">daum cafe</a></li>
                        <li><a href="http://m.cafe.daum.net/pan/_rec">daum cafe mobile</a></li>
                        <li><a href="https://github.com/leejungyeoul">Developers Mr Lee</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a href="#last">Contact Us</a></li>
                        <li><a href="https://www.mcdelivery.co.kr/kr/error/error-general.html">Mc Delivery Information</a></li>
                        <li><a href="https://www.google.com/policies/privacy/">Privacy Policy</a></li>
                        <li><a href="http://www.kma.go.kr/weather/forecast/timeseries.jsp">weather &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 column">
                    <h4>Don't touch</h4>
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 text-right">
                    <h4>Follow</h4>
                    <ul class="list-inline">
                      <li><a rel="nofollow" href="https://twitter.com/" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="https://www.facebook.com/groups/287356728021574/?fref=ts" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>
                    </ul>
                </div>
            </div>
            <br/>
            <span class="pull-right text-muted small"><a href="http://www.bootstrapzero.com">Copyright(c)2016 Yi Jung Yeoul All rights reserved. </a> JY Company</span>
        </div>
    </footer>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-body">
        		<img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
        		<p>
        		    <br/>
        		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
        		</p>
        	</div>
        </div>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Landing Zero Theme</h2>
        		<h5 class="text-center">
        		    A free, responsive landing page theme built by BootstrapZero.
        		</h5>
        		<p class="text-justify">
        		    This is a single-page Bootstrap template with a sleek dark/grey color scheme, accent color and smooth scrolling.
        		    There are vertical content sections with subtle animations that are activated when scrolled into view using the jQuery WOW plugin. There is also a gallery with modals
        		    that work nicely to showcase your work portfolio. Other features include a contact form, email subscribe form, multi-column footer. Uses Questrial Google Font and Ionicons.
        		</p>
        		<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        	</div>
        </div>
        </div>
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Nice Job!</h2>
        		<p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
        		<p class="text-center"><a href="http://www.bootstrapzero.com">Learn more at BootstrapZero</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
        	</div>
        </div>
        </div>
    </div>
    
    <!--scripts loaded here from cdn for performance -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="js/scripts.js"></script>
    <script>
    $(document).ready(function(){
    $("p1").bind("click", function(){
        alert("전송되었습니다");
    });
});</script>
  </body>
</html>